<!DOCTYPE html>
<html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Interface</title>

    <link th:href="@{/css/Admin.css}"  rel="stylesheet">
    <link href="Admin.css"  rel="stylesheet">
<!--<script scr="scr/main/resources/templates/Admin/Admin.js"></script> Cannot link js file. so wrote js in html-->


</head>

<body>
    <header th:insert="~{Fragment/adminNav :: copy}"></header>
    <div class="mainSection">
        
        <div class="bar">

            <img th:src="@{images/statusLOGO.png}" style="width:auto; height:380px; margin-left: 350px;">
           
           
        </div>
        <div class="Account">
            <div class="info">
                 <img src="founder1.jpg">
                 <h2>Name of Admin</h2>
                 
            </div>   
           <br><br><br><br><br> <hr>

         <div class="services">
            <h2>Services Integration</h2>
            <img src="microsoft.png"><p style="margin-top: -70px;">Connected with Microsoft</p>
            <img src="google.png" style="margin-top: -70px; height:50px; margin-left: 50%;"><p style="margin-top:-50px; margin-left: 65%;" >Connected with Google</p>
            <img src="office.png" style="margin-top: 50px;"> <p style="margin-top: -70px;">Connected with Office</p>
         
            
         </div> 
        </div>
</div>
</body>

        
    </div>
</body>
</html>
