*{
    font-family: 'Noto Serif Khojki', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;

}

:root {
  
    --blue: #5271ff;
    --white: #f6f6f6;;
    --gray: #5c5a5a;
    --black1: #000000;
    --black2: #999;
    --TurquoiseBlue: #5ce1e6;
    


  }
  
  /**
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }**/

.container {
    position: relative;
    width: 100%;
    height: 100%;
  }

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #5271ff;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    color:#f6f6f6;
    margin-top: 15px;
    margin-bottom: 15px;
  }
 


  .nav ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    list-style: none;
  }

  .nav ul li:hover {
  background-color:black;
}

#logo{
    pointer-events: none;
}

/*
  .nav.active {
    width: 80px;
  }*/

  .nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    height: 50px;
    
    margin-bottom: 15px;
    text-align: center;
   
  }

  /**
  .nav ul li a .icon {
  position: relative;
  display: block;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}**/


  /**
  .navigation ul.pages {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }**/



  .mainSection {
    position: absolute;
    width: calc(100% - 310px);
    left: 310px;
    background-color:#f6f6f6;
    height: 100%;
  
  }

  .bar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  
  .toggle {
    position: relative;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .search {
    position: relative;
    width: 350px;
    margin: 0 10px;
    
    
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    padding-left: 35px;
    font-size: 20px;
    outline:#000000;
    border: 5px solid var(--black2);
    
  }
  
  .search label i {
    position: absolute;
    top: -7px;
    left: 10px;
    font-size: 1.5rem;
    

  }


  /*
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;} */
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 900px;
    margin-top: 50px;
    width: 100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover, .dropdown:focus {
    background-color: #5271ff;;
   
    
  }
  
 
  
  .show {display: block;}
  .Cards {
    position: relative;
    width: 150%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
  }

  .h1{
    text-align: center;
  }
  .Cards .card {
    position: relative;
    background-color:aliceblue;
    padding: 35px;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 1);
  }
  
  .Cards .card .figure {
    position: relative;
    font-weight: 500;
    font-size:3rem;
    color:#064dad;
  }
  
  .Cards .card .cardName {
    color:#5c5a5a;
    font-size: 1.5rem;
    margin-top: 5px;
  }
  
  .Cards .card .CardIcon{
    font-size: 3.5rem;
    color: var(--black2);
  }
  
  .Cards .card:hover {
    background: gray;
  }
  .Cards .card:hover .figure,
  .Cards .card:hover .cardName,
  .Cards .card:hover .CardIcon {
    color: beige;
  }
  
 .ProductTable {
    
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
    background-color:#f6f6f6 ;
    border-collapse: collapse;
    margin-top: 15px;
    text-align: center;
    
  }




#column{
    pointer-events: none;
}

.TableDesign {
    position: relative;
    display: grid;
   /** min-height: 300px;*/
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 1);
    border-radius: 20px;
    
}



.Header h2 {
    font-weight: 300;
    color:var(--blue);
  }

  .TableDesign table thead td {
    font-weight: 600;
  }

  .TableDesign table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  
  .delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }

  .processing {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }

  .out-for-delivery {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }


