<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/css/Admin.css}"  rel="stylesheet">
    <link href="Admin.css"  rel="stylesheet">
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Interface</title>

</head>

<body>
<header th:insert="~{Fragment/adminNav :: copy}"></header>
    
    <div class="mainSection">
        
        <div class="bar">

            <img th:src="@{/images/statusLOGO.png}" style="display:block;width:33%; height:150px;">

        </div>
        
       


<br>
        <h1>Business Performance</h1>
    <div class="Cards">
        
        <div class="card">
            <div>
                <div class="figure" th:text="'£'+${Revenue}"></div> <!--value automatically updated from database-->
                <div class="cardName">Total Revenue </div>
            </div>

            <div class="CardIcon">
                <i class="bi bi-cash-stack"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="figure" th:text="${Sale}"></div>
                <div class="cardName">Total Sales</div>
            </div>

            <div class="CardIcon">
                <i class="bi bi-cart-dash"></i>
            </div>
        </div>
    </div>
        <div class="Cards">

            <div class="card">
                <div>
                    <div class="figure" th:text="${Process}"></div> <!--value automatically updated from database-->
                    <div class="cardName">Processing Orders</div>
                </div>

                <div class="CardIcon">
                    <i class="bi bi-cash-stack"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="figure" th:text="${Dispactched}"></div>
                    <div class="cardName">Dispatched Orders</div>
                </div>

                <div class="CardIcon">
                    <i class="bi bi-cart-dash"></i>
                </div>
            </div>
        </div>
        <div class="Cards">

            <div class="card">
                <div>
                    <div class="figure" th:text="${Delivered}"></div> <!--value automatically updated from database-->
                    <div class="cardName">Delivered</div>
                </div>

                <div class="CardIcon">
                    <i class="bi bi-cash-stack"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="figure" th:text="${Cancellations}"></div>
                    <div class="cardName">Cancellations</div>
                </div>

                <div class="CardIcon">
                    <i class="bi bi-cart-dash"></i>
                </div>
            </div>
        </div>

    
    
    <div class="cardHeader">
        <h1>Inventory Management</h1>
        <div class="search" style= "margin-left: 50%;">
          <label>
              <input type="text" placeholder="Search">
              <i class="bi bi-search"></i>
          </label>
      </div>
      
        <div class="Header">
            <h2>Products</h2>
            
        </div>
       
       <!-- <p>note: these are the products from database</p>-->
    </div>

    
    <div class="ProductTable">


        <form method="post" th:action="@{/admin/productAdd}" th:object="${product}" enctype="multipart/form-data">
            <input id="productName" placeholder="name" type="text" th:field="*{productName}">
            <input id="productType" placeholder="productType" type="text" th:field="*{productType}">
            <input id="price" placeholder="Price" type="text" th:field="*{price}">
            <input id="description" placeholder="Description" type="text" th:field="*{description}">
            <input id="stock" placeholder="Stock" type="text" th:field="*{stock}">
            <input type="file" name="imageTest" >
            <input id="gender" placeholder="Stock" type="text" th:field="*{gender}">
            <input id="submit" type="submit" name="Add to Inventory">
        </form>
    </div>

        
        <div class="TableDesign">
        <table>
                <thead id="column">
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Price</td>
                        <td>Image</td>
                        <td>Description</td>
                        <td>Stock</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <input type="hidden" name="id" th:value="${product.productID}">
                    <td th:text="${product.productID}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productType}"></td>
                    <td th:text="${product.Price}"></td>
                    <td th:text="${product.Image}"></td>
                    <td th:text="${product.Description}"></td>
                    <td th:class="'order'+${product.Stock}" th:text="${product.Stock}"></td>
                    <td></td>
                </tr>
                </tbody>
              </table>
            </div>
    
    </div>

    

</body>
