
<!DOCTYPE html>
<html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link th:href="@{/css/Admin.css}"  rel="stylesheet">
    <link href="Admin.css"  rel="stylesheet">
    
</head>
<body>
<!--Product
Price
Order date (can generate reports based on dates)
Status (--processing, out for delivery,delivered)
Manage order (change status) -->

<header th:insert="~{Fragment/adminNav :: copy}"></header>
</div>

<div class="mainSection">

    <div class="bar">

        <img th:src="@{/images/statusLOGO.png}" style="display:block;width:33%; height:150px;">

    </div>
    <br>
    <h1>Orders</h1>
        <label for="status">
            <form>
                <select id="status" name="status">
                    <option value="">All</option>
                    <option th:each="status : ${orderStatus}"
                    th:value="${status}"
                            th:text="${status}"
                    ></option>
                </select>
                <button type="submit"></button>
                </form>
        </label>


        <div class="search">
            <label>
                <input type="text" placeholder="Search">
                <i class="bi bi-search"></i>
            </label>
        </div>
        
        


    
   
   

<div class="TableDesign">
    <div class="Header">
        <h2>Orders</h2>
        
    </div>
    <table>
        <thead id="column">
            <tr>
                <td>Order ID</td>
                <td>Detail</td>
                <td>Status</td>
                <td>Update</td>
               
            </tr>
        </thead>

        <tbody >
            <tr th:each="order : ${orders}">
                <td th:text="${order.key}"></td>

                <td>
                <table>
                    <tr>
                        <td >&nbsp;</td>
                        <td>User ID</td>
                        <td>Product ID</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Status</td>


                    </tr>
                    <tr th:each="ord:${order.value}">
                        <td></td>
                        <td th:text="${ord.getUserID}"></td>
                        <td th:text="${ord.getProductID}"></td>
                        <td th:text="${ord.getQuantity}"></td>
                        <td th:text="${ord.getPrice}*${ord.getQuantity}"></td>
                        <td th:class="${ord.getStatus}" th:text="${ord.getStatus}"></td>
                        <td>
                        </td>
                    </tr>
                </table>
                </td>

                <form method="post" th:action="@{/admin/updateOrder}" >
                    <input th:name ="orderNumber" type="hidden" th:value="${order.key}">
                <td>

                        <select id="status" name="status">
                            <option>PROCESSING</option>
                            <option>DISPACTCHED</option>
                            <option>DELIVERED</option>
                            <option>CANCELLED</option>
                        </select>
            </td>
                    <td>
                    <button type="submit">Update</button></td>
                    </td>

                </form>

            </tr>
        </tbody>


    </table>
</div>


   
</body>
</html>