
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="Admin.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap" rel="stylesheet">
    
</head>
<body>
<!--Product
Price
Order date (can generate reports based on dates)
Status (--processing, out for delivery,delivered)
Manage order (change status) -->


<div class="container">
    <div class="navigation">
        <ul>
            <li id="logo">STATUS   <!--insert pic of logo-->     </li>

            <ul>
                <li> 
                    <a href="Admin.html">
                        <span class="icon"><i class="bi bi-house"></i> Dashboard</span>
                    </a></li>
                <li>
                <li>
                    
                    <a href="Orders.html">
                        <span class="icon"><i class="bi bi-cart-dash"></i>Orders</span></a></li> <!--check video link pu inspiration-->

               <li> <a href="Reports.html">
                <span class="icon">
                <i class="bi bi-file-text"></i> Reports</span></a> </li>
              <li>  <a href="Customers.html"><span class="icon"><i class="bi bi-people"></i>Customers</span></a></li>
              <li>  <a href="Vendors.html"><span class="icon"><i class="bi bi-truck"></i>Vendors</span></a></li>
              <li>  <a href="#"><span class="icon"><i class="bi bi-box-arrow-right"></i>Sign out</span></a></li>
              <li> <a href="Help.html"><span class="icon"><i class="bi bi-info-circle"></i>Help</span></a></li>
            
            </ul>
        </ul>

        <script>
            function openNav() {
              document.getElementById("navigation").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("navigation").style.width = "0";
            }
            </script>
       
    </div>
   
</div>

<div class="main">
    <div class="topbar">
        <div class="toggle"><i onclick="openNav()" class="bi bi-list"></i></div>
        <!--
        <script>
            // Menu Toggle NOT WORKING!!!!!!
            function toggle(){
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        
        toggle.onclick = function () {
          navigation.classList.toggle("active");
          main.classList.toggle("active");
        };
    };
        </script>-->
        <script>
            function openNav() {
              document.getElementById("navigation").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("navigation").style.width = "0";
            }
            </script>
       
        <div class="search">
            <label>
                <input type="text" placeholder="Search">
                <i class="bi bi-search"></i></div>
            </label>
        
        

    </div>
    
</div>

<div class="Orders">
    <div class="cardHeader">
        <h2>Orders</h2>
        
    </div>
    <table>
        <thead id="column">
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Status</td>
                <td>Manage Order</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Name 1</td>
                <td>£100</td>
                <td><span class="status delivered">Delivered</span></td>
                <td><button type="button">Change Order Status</button></td>
            </tr>

            <tr>
                <td>Product 2</td>
                <td>£499</td>
                <td><span class="status processing">Processing</span></td>
                <td><button type="button">Change Order Status</button></td>
               
            </tr>

            <tr>
                <td>Product 3</td>
                <td>£200</td>
                <td><span class="status out-for-delivery">Out for delivery</span></td>
                <td><button type="button">Change Order Status</button></td>
            </tr>

   
</body>
</html>