
<!DOCTYPE html>
<html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link th:href="@{/css/Admin.css}"  rel="stylesheet">
    <link href="Admin.css"  rel="stylesheet">
    
</head>
<body>
<!--Product
Price
Order date (can generate reports based on dates)
Status (--processing, out for delivery,delivered)
Manage order (change status) -->

<header th:insert="~{Fragment/adminNav :: copy}"></header>
</div>

<div class="mainSection">
    
    <div class="bar">


        <img th:src="@{images/statusLOGO.png}" style="width:auto; height:380px; margin-left: 350px;">
       
        <div class="search">
            <label>
                <input type="text" placeholder="Search">
                <i class="bi bi-search"></i>
            </label>
        </div>
        
        

    </div>
    
   
   

    <button type="button">View incoming orders</button> 
    <button type="button">View outgoing orders</button> 
    <p>note:incoming order has status = processing. outgoing order=out for delivery</p>
    <br><br>
<div class="TableDesign">
    <div class="Header">
        <h2>Orders</h2>
        
    </div>
    <table>
        <thead id="column">
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Status</td>
               
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Name 1</td>
                <td>£100</td>
                <td><span class="delivered">Delivered</span></td>
                <td><button type="button">Change Order Status</button></td>
            </tr>

            <tr>
                <td>Product 2</td>
                <td>£499</td>
                <td><span class="processing">Processing</span></td>
                <td><button type="button">Change Order Status</button></td>
               
            </tr>

            <tr>
                <td>Product 3</td>
                <td>£200</td>
                <td><span class=" out-for-delivery">Out for delivery</span></td>
                <td><button type="button">Change Order Status</button></td>
            </tr>
        </tbody>
    </table>
</div>


   
</body>
</html>