x<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lan = "en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jewellery Page </title>
    <link rel = "stylesheet" th:href = "@{/css/basket.css}">
    <link rel = "stylesheet" th:href = "@{/css/nav.css}">
</head>
<body>
<header th:insert="~{Fragment/navbar :: copy}"></header>
<h2>Order</h2>
<div th:if="${param.Cancelled}">
    <div class="error">You've cancelled your order</div>
</div>
<div th:each="order:${orders}">
    <br>
    <div class="container">
    <table>
        <div th:with="Total='0'">
        <h3>Order Number: <span th:text="${order.key}"></span></h3>

        <tr>
            <th>Image</th>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>

        </tr>

        <tr th:each="ord : ${order.value}">
            <div th:each="products:${product}">
                <div th:if="${ord.getProductID == products.getProductID}">
                    <td ><img class="resize" th:src="@{/images/}+${products.getImage}"></td>
                </div>

            </div>

            <td th:text="${ord.getOrdersID}">
                <input type="hidden" th:with="OrderID=${ord.getOrdersID}">
            </td>
            <td th:text="${ord.getProductID}"></td>
            <td th:text="${ord.getQuantity}"></td>
            <td th:text="${ord.getQuantity} * ${ord.getPrice}"></td>
            <td th:class="${ord.getStatus}" th:text="${ord.getStatus}">
            </td>

        </tr>


    </table>

        <div th:if="${ order.value.get(0).getStatus !='CANCELLED'}">
            <h3 >Cancel Order?</h3>
            <form method="post" th:action="@{/cancelOrder}">
                <input th:name ="orderNumber" type="hidden" th:value="${order.value.get(0).getOrderNumber}">
                <button type="submit">Cancel Order</button>
            </form>
        </div>
    </div>
</div>

</div>


</html>