<!DOCTYPE html>
<html lan = "en">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Bronze Bracelet </title>
        <link rel = "stylesheet" href = "style.css">
        <link rel = "stylesheet" href = "https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    </head>
    <body>
        <div class = "container-item">
            <div class = "product">
                <div class = "gallery">
                    <img src = "images/Bracelet6.jpg">
                </div>
                <div class = "details">
                    <h1> Bronze Bracelet </h1>
                    <div class = "rating">
                        <i class = "fas fa-star"></i>
                        <i class = "fas fa-star"></i>
                        <i class = "fas fa-star"></i>
                        <i class = "fas fa-star"></i>
                        <i class = "fas fa-star-half-alt"></i>
                        <span> 4.1(21) </span>
                    </div>
                    <h2> £44.99 </h2>
                    <p> Bronze pattern bracelet place on top of a dark-brown vase. </p>
                    <form>
                        <div class = "size-select">
                            <p> Size </p>
                            <label for = "x-small">
                                <input type = "radio" name = "size" id = "x-small">
                                <span> XS </span>
                            </label>
                            <label for = "small">
                                <input type = "radio" name = "size" id = "small">
                                <span> S </span>
                            </label>
                            <label for = "medium">
                                <input type = "radio" name = "size" id = "medium">
                                <span> M </span>
                            </label>
                            <label for = "large">
                                <input type = "radio" name = "size" id = "large">
                                <span> L </span>
                            </label>
                            <label for = "x-large">
                                <input type = "radio" name = "size" id = "x-large">
                                <span> XL </span>
                            </label>
                            <label for = "xx-large">
                                <input type = "radio" name = "size" id = "xx-large">
                                <span> XXL </span>
                            </label>
                            <label for = "xxx-large">
                                <input type = "radio" name = "size" id = "xxx-large">
                                <span> XXL </span>
                            </label>
                        </div>
                        <div class = "colour">
                            <p> Colour </p>
                            <label for = "bronze">
                                <input type = "radio" name = "colour" id = "bronze">
                                <span class = "colour-b6"></span>
                            </label>
                        </div>
                        <div class = "quantity-select">
                            <p> Quantity </p>
                            <input type = "number" value = "1">
                        </div>
                        <button> Add To Basket </button>
                        <br>
                        <button type = "button" name = ""  onclick = "location.href = 'jewellery.html'"> Back </button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html> 