<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lan = "en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jewellery Page </title>
    <link rel = "stylesheet" th:href = "@{/css/product.css}">
    <link rel = "stylesheet" th:href = "@{/css/nav.css}">
</head>
<body>
<header th:insert="~{Fragment/navbar :: copy}"></header>

<div class="container">
    <h1>BASKET</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Delete</th>
        </tr>
        <tr th:each="basket : ${baskets}">
            <td th:text="${basket.image}"></td>
            <td th:text="${basket.productName}"></td>
            <td th:text="${basket.quantity}"></td>
            <td th:text="${basket.price}"></td>
            <td>
                <form th:action="@{delete}" method="post">
                    <input type="hidden" th:name="UserId" th:value="${user.UserID}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{admin/updateRole}" method="post">
                    <input type="hidden" th:name="userID" th:value="${user.UserID}" />
                    <input type="hidden" th:name="role" th:value="ADMIN" />
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>



</html>