<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel = "stylesheet" th:href = "@{/css/nav.css}">
  </head>


<header th:fragment="copy">
  <nav id="nav-bar">
  <img id="logo" src="https://media.discordapp.net/attachments/1071505588044968038/1075014674346672138/statusLOGO.png" width="40px" height="40px"/>
    <ul id="nav-ul">
      <li ><a th:href="@{/}">Home</a></li>
      <li ><a th:href="@{/product}">Products</a></li>
      <li ><a th:href="@{/contact}">Contact Us</a></li>
      <li ><a th:href="@{/aboutus}">About Us</a></li>
      <li ><a th:href="@{/basket}">Basket</a></li>
      <li ><a th:href="@{/order}">User</a></li>
      <li ><a th:href="@{/register}">Register</a></li>
      <li ><a th:href="@{/login}">Login</a></li>
      <li ><a th:href="@{/admin}">Admin</a></li>
      <li ><a th:href="@{/logout}">Logout</a></li>
    </ul>
  </nav>
</header>

<footer th:fragment="footer">
  <div class="footer">
    <div class="footer-container">
      <ul class="footer-item">
        <h4>We</h4>
        <li>Hallmark guide</li>
        <li>Stainless Steel</li>
        <li>Lab grown</li>
        <li>Moissanite</li>
        <li>Gem</li>
      </ul>
      <ul class="footer-item">
        <h4>Are</h4>
        <li>Innovation</li>
        <li>Creativity</li>
        <li>Unique</li>
        <li>Timeless</li>
        <li>Sentimental</li>
      </ul>
      <ul class="footer-item">
        <h4>Timeless.</h4>
        <li>About Us</li>
        <li>Watches</li>
        <li>Earrings</li>
        <li>Necklaces</li>
        <li>Pendants</li>
      </ul>
    </div>
    <div class="copyright">
      <h3>CopyRight</h3>
      <p>Established in 2023, 'Status' was established by gem specialist
        located in the United Kingdom offering services to international
        customers at unbeatable prices.</p>
    </div>
  </div>

</footer>
