<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="https://media.discordapp.net/attachments/1071505588044968038/1075014674346672138/statusLOGO.png" width="40px" height="40px"/>      <nav>
        <ul>
          <li>Home</li>
          <li>Products</li>
          <li>Contact Us</li>
          <li>About us</li>
<!-- Above is the navigation bar code where you can see all of the ecategories in the nav bar-->
    </ul>

    
      </nav>
      <div class="container">
        <img class="login" src="https://e7.pngegg.com/pngimages/1020/932/png-clipart-shopping-cart-online-shopping-computer-icons-shopping-basket-retail-logo.png" width="40px" height="40px"/>
        <img class="login" src="https://www.pngfind.com/pngs/m/63-631239_login-png-login-icon-png-transparent-png.png" width="40px" height="40px" />
      </div>
    </header>

    <section>
      <div class="about-us">
        <div class="about-us-area">
          <div class="slider-contain">
          <div class="about-us-img">
            <img src="ImagesHomePage/ManNWomen.jpg" style="height: 400px; width: 400px;" alt="">
            <!--image 1-->
            <img src="ImagesHomePage/kateryna-hliznitsova-ceSCZzjTReg-unsplash.jpg" style="height: 400px; width: 400px;" alt="">
              <!--image 2-->
            <img src="ImagesHomePage/pexels-marta-branco-1395305.jpg"style="height: 400px; width: 400px;" alt="">
              <!--image 3-->
            <img src="ImagesHomePage/pexels-joão-rabelo-10218542 - Copy.jpg" style="height: 400px; width: 400px;" alt="">
              <!--image 4-->
            <!--above I have created the animated slideshow effect to display various images -->
          </div>
          </div>
          <div class="inner-area">
            <h1>About Us</h1> <br>
            <div class="text">
              <h1>'Status'</h1>
              <br />
              <br />
              <p>
                Established in 2023, 'Status' was established by gem specialist
                located in the United Kingdom offering services to international
                customers at unbeatable prices.
              </p>
              <br />
              <p>
                With the finest craftmanship and high jewel-based morals to
                ensure the hightest levels of jewellery are produced every
                single time
              </p>
              <p>
                Despite 'status'only being around less than one year, many of
                our gem and jewellry specialists have been serving their local
                area and treating customers best adornments for over 100 years
              </p>
              <br />
              <p>Reputable, esteemed and celebrated</p>
            </div>
              <!--Main text inputted in the about us area. Company history-->
            <div class="Specialities">
              <span>WeddingWear</span>
              <span>High-quality gold</span>
              <span>Highest-grade diamonds</span>
              
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <footer>
      
                            
      <div class="slogan">
        <script type="text/javascript">
          rndmSlogan = function () {
            var sales = new Array();
            sales[0] = "Free Bracelet reconditioning";
            sales[1] = "Highest grade diamonds";
            sales[2] = "Official Hallmark";
            sales[3] = "5 year warranty";
            var rand = Math.floor(Math.random() * sales.length);
            document.write(sales[rand]);
          };
          rndmSlogan();
        </script>
      </div>
      <div class="footer-container">
        <ul class="footer-item">
          <h4>We</h4>
          <li>Hallmark guide</li>
          <li>Stainless Steel</li>
          <li>Lab grown</li>
          <li>Moissanite</li>
          <li>Gem</li>
        </ul>
        <ul class="footer-item">
          <h4>Are</h4>
          <li>Innovation</li>
          <li>Creativity</li>
          <li>Unique</li>
          <li>Timeless</li>
          <li>Sentimental</li>
        </ul>
        <ul class="footer-item">
          <h4>Timeless.</h4>
          <li>About Us</li>
          <li>Watches</li>
          <li>Earrings</li>
          <li>Necklaces</li>
          <li>Pendants</li>
        </ul>
      </div>
      <div class="copyright">
        <h3>CopyRight</h3>
        <p>Established in 2023, 'Status' was established by gem specialist
          located in the United Kingdom offering services to international
          customers at unbeatable prices.</p>
      </div>
    </footer>
  </body>
</html>
