* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    box-sizing: border-box;

}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



/* Basket table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #000000;
    color: #fff;
}

td img.product-image {
    height: 80px;
    margin-right: 10px;
    vertical-align: middle;
}

td input.quantity-slider {
    width: 100%;
}

td span.quantity {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    width: 30px;
}

.checkout-btn {
    background-color: #020202;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
}

.empty-message {
    display: none;
}

.resize {
    width: 200px;
    height: auto;
}

.resize {
    width: 100px;
    height: auto;
}

.DELIVERED {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.PROCESSING {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.DISPACTCHED {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.CANCELLED {
    padding: 2px 4px;
    background: #e90a0a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}