<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
    <link rel="html" href="Login.html">
</head>

<body>
    <div class="wrapper signup">
        <div class="container">
    
            <div class="col-right">
                <div class="signup-form">
                    <div class="title">Sign-Up here!</div>
                    <form action="">


                        <div class="user-details">
                            <div class="input-box">
                              <span class="details">Full Name<span>*</span>
                              <input type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                              <span class="details">Email<span>*</span>
                              <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                              <span class="details">Confirm Email<span>*</span>
                              <input type="text" placeholder="Confirm your email" required>
                            </div>
                            <div class="input-box">
                              <span class="details">Password<span>*</span>
                              <input type="text" placeholder="Enter your password" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Confirm Password<span>*</span>
                                <input type="text" placeholder="Confirm your password" required>
                              </div>
       
                                
                                
                                
                           
                            
                          </div>
                          <div class="contact-choices">
                            <input type="radio" name="choice" id="choice-one">
                            <input type="radio" name="choice" id="choice-two">
                            <input type="radio" name="choice" id="choice-three">
                            <span class="choice-title">Prefered Contact</span>
                            <div class="category">
                              <label for="choice-one">
                              <span class="dot one"></span>
                              <span class="contact">Email</span>
                            </label>
                            <label for="choice-two">
                              <span class="dot two"></span>
                              <span class="contact">Phone Number</span>
                            </label>
                            <label for="choice-three">
                              <span class="dot three"></span>
                              <span class="contact">Both</span>
                              </label>
                            </div>
                          </div>
                          <div class="tacbox">
                              <input id="checkbox" type="checkbox" />
                              <label for="checkbox"> By signing up you agree to these <a href="#">Terms and Conditions</a>.</label>
                            </div>
                          <div class="button">
                            <input type="submit" value="Sign In">
                          </div>
                          <div class="existing-account">
                              <span class="under-button">Already have an account?</span>
                              <span class="under-button-link">
                                <div class="button">
                                    <input type="submit" value="Log-In" <button onclick="window.location.href = 'Login.html';"></button>
                                  </div>
                              </span>

                              

                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
