<!DOCTYPE html>

<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/css/sign.css}"  rel="stylesheet">
    <link rel = "stylesheet" th:href = "@{/css/nav.css}">
    <link rel="html" href="Login.html">
</head>

<body>
<header th:insert="~{Fragment/navbar :: copy}"></header>

    <!--This is where the nav bar is going to go once its fully completed-->
    <div class="wrapper signup">
        <div class="container">
    
            <div class="col-right">
                <div class="signup-form">
                    <div class="title">Sign-Up here!</div>
                    <!--The start of the main sign up form-->
                    <form method="post" th:action="@{/addingUser}" th:object="${user}">
                        <div class="user-details">
                            <!--Container with all the main user details such as: Name, email, confirm email, password, confirm password-->
                            <div class="input-box">
                              <span class="details">Full Name<span>*</span>
                              <input id="name" placeholder="Enter your name" type="text" th:field="*{name}" required>
                            </div>
                            <div class="input-box">
                              <span class="details">Email<span>*</span>
                              <input id="email" placeholder="Enter your email" type="text" th:field="*{email}" required>

                            </div>
                            <!--<div class="input-box">
                              <span class="details">Confirm Email<span>*</span>
                              <input type="text" placeholder="Confirm your email" required>
                            </div>-->
                            <div class="input-box">
                              <span class="details">Password<span>*</span>
                              <input id="password" placeholder="Enter your password" type="password" th:field="*{password}" required>

                            </div>
                           <!-- <div class="input-box">
                                <span class="details">Confirm Password<span>*</span>
                                <input type="text" placeholder="Confirm your password" required>
                              </div>-->
       
                          </div>
                                <!--those are he rado buton choices, contact choices, basically wethr they wanto to be contacted my email or
                                    not contacted at all-->
<!--                          <div class="contact-choices">
                            <input type="radio" name="choice" id="choice-one">
                            <input type="radio" name="choice" id="choice-two">
                            <input type="radio" name="choice" id="choice-three">
                            <span class="choice-title">Prefered Contact</span>
                            <div class="category">
                                &lt;!&ndash;email contact option&ndash;&gt;
                              <label for="choice-one">
                              <span class="dot one"></span>
                              <span class="contact">Email</span>
                            </label>
                            &lt;!&ndash;no contact option&ndash;&gt;
                            <label for="choice-three">
                              <span class="dot three"></span>
                              <span class="contact">No Contact</span>
                              </label>
                            </div>
                          </div>-->
                                <!--the terms and conditon box with the tick-->
                          <div class="tacbox">
                              <input id="checkbox" type="checkbox" />
                              <label for="checkbox"> By signing up you agree to these <a href="#">Terms and Conditions</a>.</label>
                            </div>
                                <!--The sign in button right underneath the terms and condition-->
                          <div class="button">
                            <input type="submit" value="Sign In">
                          </div>
                    </form>
                          <div class="existing-account">
                              <span class="under-button">Already have an account?</span>
                              <span class="under-button-link">
                                <div class="button">
                                    <!--TODO make this work-->
                                    <input type="submit" onclick="/login" value="Log-In">
                                  </div>
                              </span>

                              

                          </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
