<!DOCTYPE html>
<html lan = "en">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Bracelet Page </title>
        <link rel = "stylesheet" href = "../../static/css/product.css">
    </head>
    <body>
        <div class = "container">
            <div class = "header">
                <h1> Bracelets </h1>
            </div>
            <div class = "bracelets">
                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet1.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> Black Lion Bracelet </h3>
                        <span> £19.99 </span>
                    </div>

                    <p> Several spherical black beads surrounding a single black lion bead. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet2.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> Diamond Bracelet </h3>
                        <span> £499.99 </span>
                    </div>

                    <p> Silver bracelet with microscopic diamonds placed carefully on one side of the two silver ends. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet3.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> Gold Bracelet </h3>
                        <span> £299.99 </span>
                    </div>

                    <p> Elegant 24-carat gold pattern bracelets hanging on a luxurious white/gold cup. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet4.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> Silver Bracelet </h3>
                        <span> £99.99 </span>
                    </div>

                    <p> Silver pattern bracelet place around a blue round box. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet5.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> White Pearl Bracelet </h3>
                        <span> £349.99 </span>
                    </div>

                    <p> Several oval-shaped pearls surrounding one elegant, spherical, white pearl. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

                <div class = "bracelet">
                    <div class = "image">
                        <img src = "../Product/images/Bracelet6.jpg" alt = "">
                    </div>
                    <div class = "namePrice">
                        <h3> Bronze Bracelet </h3>
                        <span> £44.99 </span>
                    </div>

                    <p> Bronze pattern bracelet place on top of a dark-brown vase. </p>
                    <br>
                    <div class = "buy">

                        <button> Buy now </button>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html> 