<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../AboutUs/AboutUs-Ehsan/style.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="https://media.discordapp.net/attachments/1071505588044968038/1075014674346672138/statusLOGO.png" width="40px" height="40px"/>      <nav>
        <ul>
          <li>Home</li>
          <li>Products</li>
          <li>Contact Us</li>
          <li>About us</li>
        </ul>
      </nav>
      <div class="container">
        <img class="login" src="https://e7.pngegg.com/pngimages/1020/932/png-clipart-shopping-cart-online-shopping-computer-icons-shopping-basket-retail-logo.png" width="40px" height="40px"/>
        <img class="login" src="https://www.pngfind.com/pngs/m/63-631239_login-png-login-icon-png-transparent-png.png" width="40px" height="40px" />
      </div>
    </header>