<!DOCTYPE html>
  <html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Status</title>
      <link rel="stylesheet" href="homestyle.css">
      <link rel = "stylesheet" th:href = "@{/css/homestyle.css}">
      <link rel = "stylesheet" th:href = "@{/css/nav.css}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>


    <body>
      
      <script src="script.js"></script>
      <header th:insert="~{Fragment/navbar :: copy}"></header>
      <div class="wrapper" >
        <div class="Welcome">
          <div  id="welc-main" style="color:white;position:relative;">Welcome to Status </div>
            <div id ="welc" style="position:absolute;top:0;width:100%;">Where dreams come true</div>

         </div>
         <div class="container">

           <img th:src="@{images/ImagesHomePage/earrings.jpg}" >
           <img th:src="@{images/ImagesHomePage/rings2.jpg}" >
           <img th:src="@{images/ImagesHomePage/emeralds.jpg}" >
           <img th:src="@{images/ImagesHomePage/ManNWomen.jpg}" >
           <img th:src="@{images/ImagesHomePage/rings.jpg}" >
           <img th:src="@{images/ImagesHomePage/twodiamonds.jpg}">
           
          </div>
          
       </div>     
  <div class="randomiser">

    <script type="text/javascript">
      rndmSlogan = function () {
        var sales = new Array();
        sales[0] = "Free Bracelet reconditioning";
        sales[1] = "Highest grade diamonds";
        sales[2] = "Official Hallmark"
        sales[3] = "5 year warranty";
        var rand = Math.floor(Math.random() * sales.length);
        document.write(sales[rand]);
      }
      rndmSlogan();
      
     
      
    </script>
  </div>
 
      
      <div class="grids">
          <div class="braclet grid-item" data-title="Bracelets">
              <a th:href="@{/filter/Bracelet}"><img src="https://media.discordapp.net/attachments/1082979832717119509/1085495112836059166/Bracelet.jpg?width=900&height=600" alt="Bracelet"></a>
          </div>
          <div class="watch grid-item" data-title="Watches">
              <a th:href="@{/filter/Watch}"><img src="https://media.discordapp.net/attachments/1082979832717119509/1082983948197560330/Watch1.jpg?width=901&height=600" alt="Watch"></a>
          </div>
          <div class="rings grid-item" data-title="Rings">
              <a th:href="@{/filter/Ring}"> <img src="https://media.discordapp.net/attachments/1082979832717119509/1085492702721884221/Ring.jpg?width=600&height=600" alt="Ring"></a>
          </div>
          <div class="necklaces grid-item" data-title="Necklaces">
              <a th:href="@{/filter/Necklace}"><img src="https://media.discordapp.net/attachments/1082979832717119509/1085495011967242290/Necklace.jpg?width=900&height=600" alt="Necklaces"></a>
          </div>
          <div class="earings grid-item" data-title="Earrings">
              <a th:href="@{/filter/EarRing}"><img src="https://media.discordapp.net/attachments/1082979832717119509/1085492906502148197/Earring.jpg?width=480&height=600" alt="Earrings"></a>
          </div>
          <div class="slogan">
              <h1>We <br> Are <br> Timeless</h1>
              <p>

              </p>
          </div>
      </div>
      
  <div class="video">


    <video muted autoplay loop>
      <source th:src="@{Images/ImagesHomePage/homevideo.mp4}" type="video/mp4">

      Your browser does not support the video tag.
    </video>
    
    
  </div>




</body>
    <footer th:insert="~{Fragment/navbar :: footer}"></footer>


</html>
